/* General CSS */
.body{
    height: 100vh;
}

.content-container{
    height: calc(100vh - 180px);
    overflow: auto;
}

.bg-img-container{
    position: fixed;
    top: calc(180px);
    left: 0;
    width: 100%;
    height: calc(100vh - 180px);
    z-index: -1; 
}

.bg-img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Navbar CSS */
.navbar-container{
    height: 180px;
    background-color: #fff;
}

.navBar-logo{
    width: 25% !important;
    padding-top: 18px !important;
}

.navBar-divider{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.navbar-options{
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-bottom: 25px !important;
    color: #7a413b !important;
}

.navbar-options:hover {
    color: #222422 !important;
    cursor: pointer;
}

/* Banner CSS */
.banner-button{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: #7a413b !important;
    font-size: 12px !important;
    border: 1px solid #7a413b !important;
}

/* Paragraph CSS */
.paragraph-heading{
    margin: 10px;
}

.paragraph-content{
    margin: 10px;
}

.paragraph-text{
    line-height: 2;
}

/* BillBoard CSS */
.billboard {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 180px - 50px);
  }
  
.billboard video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
/* .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 20%;
    background-color: #F1EEDC;
    transform: translate(-50%, -50%);
    z-index: 1;
  } */

/* Card CSS */
.card{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.card-inner{
    width: 60%;
    height: 100%;
}

.card-column-1{
    margin-right: 10px;
}

.card-column-2{
    margin-left: 10px;
}

.card-image{
    width: 100%;
}

/* Footer CSS */
.footer{
    background-color: #fff;
    min-height: 200px;
}

.footer-inner{
    width: 60%;
    height: 100%; 
}

.footer-logo{
    height: 20%;
    width: 10%
}

.insta-logo{
    color: #7a413b;
}